<div class="row">
	<h2>お見積り依頼一覧</h2>

	<nav class="navbar navbar-right" style="margin-right: 50px;">
	    <%= form_tag(admins_requests_path, method: :get ) do %>
	    	<%= text_field_tag :search, '', placeholder: '氏名、会社名' %>
	    	<button name='button' type='submit'>
	    		<i class="fa fa-search"></i>
	    	</button>
	    <% end %>
	</nav>

	<div class="col-xs-12">
		<table class="table">
			<thead>
				<th>受注日</th>
				<th>氏名</th>
				<th>会社名</th>
				<th>メールアドレス</th>
				<th>納品日</th>
				<th>納品ステータス</th>
			</thead>

			<tbody>
				<% @requests.each do |request| %>
				    <tr>
				    	<td><%= link_to admins_request_path(request) do %>
				    		<%= request.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
				    		<% end %>
				    	</td>
				    	<td><%= request.name %></td>
				    	<td><%= request.company_name %></td>
				    	<td><%= request.email %></td>
				    	<td><%= request.delivery_date.strftime('%Y/%m/%d') %></td>
				    	<td>
				    		<% if request.delivery_status == false %>
				    		    未納品
				    		<% else %>
				    		    納品済み
				    		<% end %>
				    	</td>
				    </tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12">
	 	<%= paginate @requests %>
	 </div>
</div>