<div class="row">
	<h2>お見積り依頼</h2>

  <%= form_for :request, url: confirm_requests_path do |f| %>

  <% if @request.errors.any? %>
	<div class="alert alert-danger" role="alert">
		<strong>入力内容にエラーがあります</strong>
		<ul>
			<% @request.errors.each do |attr, msg| %>
			  <li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="col-xs-8">
	<table class="table">
    <tr>
    	<th>名前<span class="text-danger">（必須）</span></th>
    	<td><%= f.text_field :name %></td>
    </tr>

    <tr>
    	<th>会社名<span class="text-danger">（必須）</span></th>
    	<td><%= f.text_field :company_name %></td>
    </tr>

    <tr>
      <th>メールアドレス<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <th>郵便番号(ハイフンなし)<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :postal_code %></td>
    </tr>

    <tr>
      <th>住所<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :address %></td>
    </tr>

    <tr>
      <th>電話番号(ハイフンなし)<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :telephone_number %></td>
    </tr>

    <tr>
      <th>納品日<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :delivery_date, class: "form-control date-picker" %></td>
    </tr>

    <tr>
      <th>お見積り依頼内容<span class="text-danger">（必須）</span></th>
      <td><%= f.text_area :request_detail %></td>
    </tr>

    </table>

	  <div class="row">
		  <%= f.submit 'お見積り依頼を送信する', class: "btn btn-primary btn-new-register btn-lg" %>
	  </div>
  </div>
  <% end %>
</div>