<div class="row">
	<h2>お問い合わせ一覧</h2>

	<nav class="navbar navbar-right" style="margin-right: 50px;">
	    <%= form_tag(admins_contacts_path, method: :get ) do %>
	    	<%= text_field_tag :search, '', placeholder: '氏名、会社名' %>
	    	<button name='button' type='submit'>
	    		<i class="fa fa-search"></i>
	    	</button>
	    <% end %>
	</nav>

	<div class="col-xs-12">
		<table class="table">
			<thead>
				<th>日時</th>
				<th>氏名</th>
				<th>会社名</th>
				<th>メールアドレス</th>
				<th>返信ステータス</th>
			</thead>

			<% if @contacts %>
			<tbody>
				<% @contacts.each do |contact| %>
				    <tr>
				    	<td><%= link_to admins_contact_path(contact) do %>
				    		<%= contact.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
				    		<% end %>
				    	</td>
				    	<td><%= contact.name %></td>
				    	<td><%= contact.company_name %></td>
				    	<td><%= contact.email %></td>
				    	<td>
				    		<% if contact.reply_status == false %>
				    		    未返信
				    		<% else %>
				    		    返信済み
				    		<% end %>
				    	</td>
				    </tr>
				<% end %>
			</tbody>
			<% end %>
		</table>
	</div>
	 <div class="col-xs-12">
	 	<%= paginate @contacts %>
	 </div>
</div>