<div class="row">
	<h1 style="width: 300px;height: 80px;border-radius: 15px;font-size: 40px;font-weight: bold;text-align: center;padding-top: 20px;">事業案内</h1>

    <div class="information">
      <p>
		　当社はラミネート機によって、生地にEVAやウレタンを貼り合わせたり、生地と生地の<br>
        貼り合わせ加工を、営んでいる会社です。<br>
        　ラミネート加工とは、製品を作る工程において、なくてはならない第一工程です。<br>
        生地にEVAを貼り合わせることによって、ほどよい硬さと復元力を持たせよりボリューム<br>
        のあるものにさせます。また、生地にウレタンを貼り合わせることによって、ウレタンの<br>
        もつ、ソフト感を持たせ加工のしやすいものにします。また、生地と生地を貼り合わせる<br>
        ことによって、風合いを損なわないでよりしっかりとした腰のある製品に変えていくとい<br>
        うものです。当社は、もう一つバイヤステープという加工も営んでいます。バイヤステー<br>
        プとは、製品を製品化する途中の縫製の段階で、部品部品を縫い合わせた部分を縫い目の<br>
        見えない様にきれいに包み込んでしまうテープのことです。製品を見栄えよくして高級感<br>
        のあるものにします。当社は、ラミネート加工とバイヤステープ加工の二つの工程をする<br>
        ことによって、製品をより迅速に供給させ、企業間に貢献しています。
      </p>
    </div>
</div>

    <div class="slider">
        <div class="image"><%= image_tag 'self_employed1.jpg', :size => "1050x650", format: 'jpeg' %></div>
        <div class="image"><%= image_tag 'self_employed2.jpg', :size => "1050x650", format: 'jpeg' %></div>
        <div class="image"><%= image_tag 'self_employed3.jpg', :size => "1050x650", format: 'jpeg' %></div>
        <div class="image"><%= image_tag 'self_employed4.jpg', :size => "1050x650", format: 'jpeg' %></div>
        <div class="image"><%= image_tag 'self_employed5.jpg', :size => "1050x650", format: 'jpeg' %></div>
        <div class="image"><%= image_tag 'self_employed6.jpg', :size => "1050x650", format: 'jpeg' %></div>
        <div class="image"><%= image_tag 'self_employed7.jpg', :size => "1050x650", format: 'jpeg' %></div>
        <div class="image"><%= image_tag 'self_employed8.jpg', :size => "1050x650", format: 'jpeg' %></div>
    </div>