<!DOCTYPE html>
<html>
  <head>
    <title>SelfEmployed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0c25928deb.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span style="font-size: 70px;font-weight:bold;color: white;"><%= link_to "XXX会社", root_path %></span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right" style="margin-top: 45px;font-size: 15px;">
            <li><%= link_to '事業案内', root_path %></li>
            <li><%= link_to '会社概要', homes_about_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container", style="padding-top: 200px; padding-bottom: 80px;">
          <%= yield %>
      </div>
    </main>
  </body>
</html>
